.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #dddde4;
  color: #2f3133;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  
}
.login-area{
  background-color: #e8e5e5;
  padding: 20px;
  width: 50%;
  margin: 100px auto;
  border-radius: 5px;
}

main {
  margin-top: 6em;
  margin-bottom: 3em;
}

/* Home page */

.logo {
  margin: 2em 0 0;
}
.logo img {
  border-radius: 4px;
  box-shadow: #333 3px 3px 10px;
}

.hpblock {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: hsl(210, 17%, 93%);
  border-radius: 8px;
  border: 1px solid hsl(210, 17%, 43%);
  text-align: center;
}
.navBox {
  display: grid;
  grid-template-columns: 8em 8em 8em 8em;
  grid-template-rows: auto;
  gap: .8em;
  justify-content: center;
  margin: 2em 0;
}
.navC, .navH, .navM, .navB {
  text-align: center;
  transition: background-color .15s ease-in-out;
  border-radius: .25em;
  box-shadow: #666 2px 2px 5px;
}
.navC {
  background-color: #336666;
}
.navC:hover, .navC:focus {
  background-color: #2B5555;
}
.navH {
  background-color: #406194;
}
.navH:hover, .navH:focus {
  background-color: #385582;
}
.navM {
  background-color: #DA612C;
}
.navM:hover, .navM:focus {
  background-color: #C95623;
}
.navB {
  background-color: #A60035;
}
.navB:hover, .navB:focus {
  background-color: #8D002D;
}
.navBox a {
  display: block;
  padding: 1.2em 0;
  text-decoration: none;
  color: #fff;
}

/* BS replacement */

/* Edit/Delete/Add buttons */
.btnPair {
  display: flex;
}
.btnEdit, .btnDelete, .btnAdd {
  color: white;
  border: 1px solid transparent;
  padding: 5px 12px;
  border-radius: 4px;
  transition: background-color .15s ease-in-out;
  cursor: pointer;
}
.btnEdit {
  background-color: hsl(211, 100%, 50%);
  margin-right: 5px;
}
.btnEdit:hover {
  color: white;
  background-color: hsl(211, 100%, 40%);
  text-decoration: none;
}
.btnDelete {
  background-color: hsl(354, 70%, 54%);
}
.btnDelete:hover {
  background-color: hsl(354, 70%, 44%);
}
.btnAdd {
  background-color: hsl(134, 61%, 41%);
}
.btnAdd:hover {
  color: white;
  background-color: hsl(134, 61%, 31%);
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .navBox {
    grid-template-columns: 8em 8em!important;
  }
  .navC { order: 1; }
  .navH { order: 2; }
  .navM { order: 3; }
  .navB { order: 4; }
}
